<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" type="text/css" href="userpage.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Userpage</title>
</head>

<body>
    <div id="app" class="fullscreen">
        <el-container>
            <el-header>
                <div align="left" style="width:100%;">
                    <div align="left" style="width:55%; display:inline-block;">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="homepage.html">
                            <img border="0" src="../logo.png" style="height:45px; width:75px" />
                            <p class="logo" style="color:#FFFFFF; width:15%; display:inline-block;">SEM<span>ojo</span>
                            </p>
                        </a>
                        <el-link href="product.html" target="_blank"
                            style="color:#FFFFFF; text-decoration:none; width:10%" class=navigation_fontsize>Products
                        </el-link>
                        <el-link href="support.html" target="_blank"
                            style="color:#FFFFFF; text-decoration:none; width:10%" class=navigation_fontsize>Support
                        </el-link>
                        <el-link href="forum.html" target="_blank"
                            style="color:#FFFFFF; text-decoration:none; width:10%" class=navigation_fontsize>Forum
                        </el-link>
                    </div>

                    <div align="right" style="width:40%; display:inline-block">
                        <el-input placeholder="Search SEMojo" v-model="search" class="input-with-select"
                            style="width: 40%">
                            <el-button slot="append" icon="el-icon-search"></el-button>
                        </el-input>
                        <el-link href="login.html" target="_blank" style="color:#FFFFFF; width:15%;text-decoration:none"
                            class=navigation_fontsize>Sign in
                        </el-link>
                        <el-link href="signup.html" :underline="false">
                            <el-button type="primary" class="navigation_fontsize">Sign up</el-button>
                        </el-link>
                    </div>
                </div>
            </el-header>

            <el-container>
                <el-aside width="40%">
                    <div class="avatar-image">
                        <el-avatar :size="300" :fit="fill" :src="circleUrl"></el-avatar>
                    </div>

                    <!-- 上传用户头像 -->
                    <!-- <div class="personal-info">
                    <el-upload
                        class="avatar-uploader"
                        action="https://jsonplaceholder.typicode.com/posts/"
                        :show-file-list="false"
                        :on-success="handleAvatarSuccess"
                        :before-upload="beforeAvatarUpload">
                        <img v-if="imageUrl" :src="imageUrl" class="avatar">
                        <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                    </el-upload>
                </div> -->

                    <div class="personal-info">
                        <h1 class="username">{{origin.name}}</h1>
                        <el-button type="primary" style="width: 50%;height: 50px;margin-left: 40%" v-on:click="edit"
                            v-show="editVisible">EDIT PROFILE</el-button>

                        <el-form class="profile" ref="form" :model="profile" label-width="80px" size="mini"
                            v-show="profileVisible">
                            <el-form-item label="">
                                <el-input v-model="profile.description" placeholder="Description">
                                    <template slot="prepend">Description</template>
                                </el-input>
                            </el-form-item>

                            <el-form-item label="">
                                <el-input v-model="profile.name" placeholder="Username">
                                    <template slot="prepend">Username</template>
                                </el-input>
                            </el-form-item>

                            <el-form-item label="">
                                <el-input v-model="profile.address" placeholder="Address">
                                    <template slot="prepend">Address</template>
                                </el-input>
                            </el-form-item>

                            <el-form-item label="">
                                <el-input v-model="profile.email" placeholder="E-mail">
                                    <template slot="prepend">Email</template>
                                </el-input>
                            </el-form-item>

                            <el-form-item label="">
                                <el-input v-model="profile.phoneNum" placeholder="Phone Number">
                                    <template slot="prepend">Phone Num</template>
                                </el-input>
                            </el-form-item>

                            <el-form-item label="">
                                <el-input v-model="profile.qqNum" placeholder="QQ Number">
                                    <template slot="prepend">QQ Num</template>
                                </el-input>
                            </el-form-item>

                            <el-form-item label="">
                                <el-input v-model="profile.weChatNum" placeholder="WeChat Number">
                                    <template slot="prepend">WeChat Num</template>
                                </el-input>
                            </el-form-item>


                            <el-form-item size="large">
                                <el-button type="primary" @click="submit">Save</el-button>
                                <el-button type="info" @click="cancel">Cancel</el-button>
                            </el-form-item>
                        </el-form>
                    </div>
                </el-aside>

                <el-main>
                    <div class="products">
                        <h1 class="products-purchased">Products Purchased</h1>
                        <div class="show-products" style="min-height:250px;overflow-y:auto;max-height:300px;">
                            <ul class="list" style="overflow: auto;">
                                <li class="list-item" v-for="product in products">
                                    <div style="display: block;width: 75%">
                                        <h1 style="font-size: 4rem;margin-left: 4rem;"><a
                                                v-bind:href="product.url">{{product.name}}</a></h1>
                                    </div>
                                    <div style="flex: right;display: block;margin-top: 20px;margin-bottom: 20px;">
                                        <el-button type="primary">Download</el-button>
                                        <el-button type="plain" @click="dialogFormVisible = true">Review</el-button>

                                        <el-dialog title="Review" :visible.sync="dialogFormVisible">
                                            <el-form>
                                                <el-form-item label="Your Review:" :label-width="formLabelWidth">
                                                    <el-input v-model="product.review" autocomplete="off"></el-input>
                                                </el-form-item>
                                            </el-form>
                                            <div slot="footer" class="dialog-footer">
                                                <el-button @click="dialogFormVisible = false">Cancel</el-button>
                                                <el-button type="primary" @click="reviewConfirm($event)">Confirm
                                                </el-button>
                                            </div>
                                        </el-dialog>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="products">
                        <h1 class="products-purchased">Shopping Cart</h1>
                        <div class="show-products" style="min-height:250px;overflow-y:auto;max-height:300px;">
                            <ul class="list" style="overflow: auto;">
                                <li class="list-item" v-for="product in shoppingCarts">
                                    <div style="display: block;width: 75%">
                                        <h1 style="font-size: 4rem;margin-left: 4rem;"><a
                                                v-bind:href="product.url">{{product.name}}</a></h1>
                                    </div>
                                    <div style="flex: right;display: block;margin-top: 20px;margin-bottom: 20px;">
                                        <el-button type="primary">Purchase</el-button>
                                        <el-button type="plain">Delete</el-button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </el-main>

            </el-container>
        </el-container>
        </div>

        <!-- import Vue before Element -->
        <script src="../vue.js"></script>
        <!-- import JavaScript -->
        <script src="https://unpkg.com/element-ui/lib/index.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>


        <script>
            var page = new Vue({
                el: '#app',
          
                data() {
                    return {
                        circleUrl: "../bg2.jpg",
                        squareUrl: "https://cube.elemecdn.com/9/c2/f0ee8a3c7c9638a54940382568c9dpng.png",
                        sizeList: ["large", "medium", "small"],
                        imageUrl: '',

                        // 表单内容
                        profile: {
                            name: '',
                            description: '',
                            email: '',
                            gender: '',
                            address: '',
                            phoneNum: '',
                            qqNum: '',
                            weChatNum: ''
                        },

                        // 原始个人信息
                        origin: {
                            name: '赵志翔',
                            description: 'He is a boy',
                            email: '2222123@qq.com',
                            gender: '',
                            address: 'SUSTECH',
                            phoneNum: '213123',
                            qqNum: '23123',
                            weChatNum: '213124'
                        },

                        // products purchased
                        products: [
                            {
                                name: 'product1',
                                url: 'https://www.baidu.com',
                                review: ''
                            },
                            {
                                name: 'product2',
                                url: 'https://www.baidu.com',
                                review: ''
                            },
                            {
                                name: 'product3',
                                url: 'https://www.baidu.com',
                                review: ''
                            },
                            {
                                name: 'product4',
                                url: 'https://www.baidu.com',
                                review: ''
                            },
                            {
                                name: 'product5',
                                url: 'https://www.baidu.com',
                                review: ''
                            },
                        ],

                        shoppingCarts: [
                            {
                                name: 'product1',
                                url: 'https://www.baidu.com',
                            },
                            {
                                name: 'product2',
                                url: 'https://www.baidu.com',
                            },
                            {
                                name: 'product3',
                                url: 'https://www.baidu.com',
                            },
                            {
                                name: 'product4',
                                url: 'https://www.baidu.com',
                            },
                        ],
                        count: 0,
                        editVisible: true,
                        profileVisible: false,

                        // review dialog
                        dialogTableVisible: false,
                        dialogFormVisible: false,
                        formLabelWidth: '120px',
                    }
                },
                methods: {
                    submit: function () {
                        this.profileVisible = false;
                        this.editVisible = true;

                        //将用户修改后的表单信息更新到个人信息
                        this.origin.name = this.profile.name;
                        this.origin.description = this.profile.description;
                        this.origin.email = this.profile.email;
                        this.origin.gender = this.profile.gender;
                        this.origin.address = this.profile.address;
                        this.origin.phoneNum = this.profile.phoneNum;
                        this.origin.qqNum = this.profile.qqNum;
                        this.origin.weChatNum = this.profile.weChatNum;
                        //发送修改后的信息
                        let fd = new FormData();
                        fd.append("name", this.profile.name);
                        fd.append("description", this.profile.description);
                        fd.append("email", this.profile.email);
                        fd.append("gender", this.profile.gender);
                        fd.append("address", this.profile.address);
                        fd.append("phoneNum", this.profile.phoneNum);
                        fd.append("qqNum", this.profile.qqNum);
                        fd.append("weChatNum", this.profile.weChatNum);
                        axios.post('/userpage', fd).then(res => {
                            if (res.data.code === 200) {
                                //console.log(res);
                                this.$message('上传成功')
                            } else {
                                this.$message('失败')
                            }
                        })

                    },

                    cancel: function () {
                        this.profileVisible = false;
                        this.editVisible = true;
                    },

                    edit: function () {
                        // 将原始个人信息显示在表单上
                        this.profile.name = this.origin.name;
                        this.profile.description = this.origin.description;
                        this.profile.email = this.origin.email;
                        this.profile.gender = this.origin.gender;
                        this.profile.address = this.origin.address;
                        this.profile.phoneNum = this.origin.phoneNum;
                        this.profile.qqNum = this.origin.qqNum;
                        this.profile.weChatNum = this.origin.weChatNum;
                        this.editVisible = false;
                        this.profileVisible = true;
                    },

                    //review
                    reviewConfirm: function ($event) {
                        this.dialogFormVisible = false;

                        

                        let fd = new FormData();
                        fd.append("review", this.product.review);
                        axios.post('/userpage', fd).then(res => {
                            if (res.data.code === 200) {
                                //console.log(res);
                                this.$message('上传成功')
                            } else {
                                this.$message('失败')
                            }
                        })
                    },

                }

            })
        </script>
</body>

</html>