<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/element-ui/2.14.0/theme-chalk/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/EditProduct.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<div id="app" class="fullscreen">
    <el-container>
        <el-header>
            <div align="left" style="width:100%;">
                <div align="left" style="width:55%; display:inline-block;">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="homepage.html">
                        <img border="0" src="/images/logo.png" style="height:45px; width:75px"/>
                        <p class=navigation_fontsize style="color:#FFFFFF; width:15%; display:inline-block;">SEMojo</p>
                    </a>
                    <el-link
                            href="product.html"
                            style="color:#FFFFFF; text-decoration:none; width:10%"
                            class=navigation_fontsize
                    >Products
                    </el-link>
                    <el-link
                            href="support.html"
                            style="color:#FFFFFF; text-decoration:none; width:10%"
                            class=navigation_fontsize
                    >Support
                    </el-link>
                    <el-link
                            href="forum.html"
                            style="color:#FFFFFF; text-decoration:none; width:10%"
                            class=navigation_fontsize
                    >Forum
                    </el-link>
                </div>

                <div style="width: 20%; display: inline-block">&nbsp;</div>
                <div align="right" style="width:20%; display:inline-flex;">
                    <el-input
                            placeholder="Search SEMojo"
                            v-model="search"
                            style="width: 80%">
                        <el-button slot="append" icon="el-icon-search" @click="searchfor('search')"></el-button>
                    </el-input>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                    <el-dropdown @command="handleCommand">
							<span class="el-dropdown-link">
								<el-avatar :src="img_src"></el-avatar>
							</span>
                        <el-dropdown-menu slot="dropdown" style="margin-top: -10px">
                            <el-dropdown-item command="userpage">Your profile</el-dropdown-item>
                            <el-dropdown-item command="contributor">Your products</el-dropdown-item>
                            <el-dropdown-item command="logout">sign out</el-dropdown-item>
                        </el-dropdown-menu>
                    </el-dropdown>
                </div>
            </div>

        </el-header>

        <el-container>
            <el-aside width="40%">
                <div class="part">
                    <div class="title">
                        <div class="productName" v-bind:class="product.name">
                            <h1>{{product.name}}</h1>
                        </div>

                        <div style="display: block;width:40%;margin-left:8%;margin-top: 7%;margin-bottom: 6%">
                            <el-button type="primary" size="mini" v-on:click="editInfo">EDIT PROFILE</el-button>
                        </div>

                        <el-dialog title="Profile" :visible.sync="profileVisible">
                            <el-form class="product" ref="form" :model="editForm" size="mini">
                                <el-form-item label="">
                                    <el-input v-model="editForm.name" placeholder="Product Name">
                                        <template slot="prepend">Product Name</template>
                                    </el-input>
                                </el-form-item>

                                <el-form-item label="">
                                    <el-input v-model="editForm.currentPrice" placeholder="Current Price">
                                        <template slot="prepend">Current Price</template>
                                    </el-input>
                                </el-form-item>

                                <el-form-item label="Contributor:">
                                    <el-checkbox-group v-model="editForm.contributor">
                                        <el-checkbox-button label="ZHAO" name="ZHAO"></el-checkbox-button>
                                        <el-checkbox-button label="XU" name="XU"></el-checkbox-button>
                                        <el-checkbox-button label="ZHU" name="ZHU"></el-checkbox-button>
                                        <el-checkbox-button label="CHEN" name="CHEN"></el-checkbox-button>
                                    </el-checkbox-group>
                                </el-form-item>

                                <el-form-item label="Tags:">
                                    <el-checkbox-group v-model="editForm.tags">
                                        <el-checkbox-button label="Java" name="Java"></el-checkbox-button>
                                        <el-checkbox-button label="Python" name="Python"></el-checkbox-button>
                                        <el-checkbox-button label="AI" name="AI"></el-checkbox-button>
                                        <el-checkbox-button label="Javascript" name="Javascript"></el-checkbox-button>
                                    </el-checkbox-group>
                                </el-form-item>

                                <el-form-item label="status">
                                    <el-select v-model="editForm.status" placeholder="Please choose status">
                                        <el-option label="developing" value="developing"></el-option>
                                        <el-option label="alpha" value="alpha"></el-option>
                                        <el-option label="beta" value="beta"></el-option>
                                        <el-option label="final Version" value="finalVersion"></el-option>
                                        <el-option label="deprecated" value="deprecated"></el-option>
                                    </el-select>
                                </el-form-item>


                                <el-form-item label="">
                                    <el-input v-model="editForm.description" placeholder="Description">
                                        <template slot="prepend">Description</template>
                                    </el-input>
                                </el-form-item>


                                <el-form-item size="large">
                                    <el-button type="primary" @click="submit">Save</el-button>
                                    <el-button type="info" @click="cancel">Cancel</el-button>
                                </el-form-item>
                            </el-form>
                        </el-dialog>
                    </div>

                    <div class="information">
                        <div class="info" style="display: block;margin-top:2%;line-height:10px;font-size: 8px;">
                            <p><b>Current Price: $</b>{{product.currentPrice}}</p>
                            <p><s><b>Price: $</b>{{product.price}}</s></p>
                            <p><b>Rating: </b>{{product.rating}}</p>
                            <p><b>Contributor: </b>{{product.contributor}}</p>
                            <p><b>Tags: </b>{{product.tags}}</p>
                            <p><b>Status: </b>{{product.status}}</p>
                            <p><b>Sale Volumn: </b>{{product.saleVolume}}</p>
                            <p><b>Release Data: </b>{{product.releaseDate}}</p>
                            <p><b>Recent Update Date: </b>{{product.recentUpdateDate}}</p>
                            <p><b>Description: </b>{{product.description}}</p>
                        </div>
                    </div>
                </div>


            </el-aside>

            <el-main>
                <div style="width:90%">
                <el-tabs v-model="activeName" @tab-click="handleClick">
                    <el-tab-pane label="Artifact" name="first">
                        <div class="products">
                            <div style="display: flex;">
                                <div style="width: 20%;display: flex;margin-left: 85%;margin-bottom: 10px">
                                    <el-button type="success" size="mini" @click="clickAdd()">Add</el-button>
                                </div>
                            </div>
                            <div class="show-products">
                                <ul class="list">
                                    <li class="list-item" v-for="artifact in artifacts">
                                        <div style="display: block;margin-left:5%;margin-top:2%;width: 60%">
                                            <h1 style="font-size: 1.5rem;display:table-cell;"><a
                                                    v-bind:href="artifact.url">{{artifact.name}}</a></h1>
                                        </div>
                                        <div style="flex: right;display: block;width:40%;margin-left:15%;margin-top: 6px;margin-bottom: 5px">
                                            <el-button type="primary" size="mini">Update</el-button>
                                            <el-button type="plain" size="mini">Delete</el-button>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </el-tab-pane>
                    <el-tab-pane label="Source Code" name="second">
                        <div class="products">
                            <div style="display: flex;">
                                <div style="width: 20%;display: flex;margin-left: 85%;margin-bottom: 10px">
                                    <el-button type="success" size="mini" @click="clickAdd()">Add</el-button>
                                </div>
                            </div>
                            <div class="show-products">
                                <ul class="list">
                                    <li class="list-item" v-for="code in codes">
                                        <div style="display: block;margin-left:5%;margin-top:2%;width: 60%">
                                            <h1 style="font-size: 1.5rem;display:table-cell;"><a
                                                    v-bind:href="code.url">{{code.name}}</a></h1>
                                        </div>
                                        <div style="flex: right;display: block;width:40%;margin-left:15%;margin-top: 6px;margin-bottom: 5px">
                                            <el-button type="primary" size="mini">Update</el-button>
                                            <el-button type="plain" size="mini">Delete</el-button>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </el-tab-pane>
                    <el-tab-pane label="Test Case" name="third">
                        <div class="products">
                            <div style="display: flex;">
                                <div style="width: 20%;display: flex;margin-left: 85%;margin-bottom: 10px">
                                    <el-button type="success" size="mini" @click="clickAddCode()">Add</el-button>
                                </div>
                            </div>
                            <div class="show-products">
                                <ul class="list">
                                    <li class="list-item" v-for="test in tests">
                                        <div style="display: block;margin-left:5%;margin-top:2%;width: 60%">
                                            <h1 style="font-size: 1.5rem;display:table-cell;"><a
                                                    v-bind:href="test.url">{{test.name}}</a></h1>
                                        </div>
                                        <div style="flex: right;display: block;width:40%;margin-left:15%;margin-top: 6px;margin-bottom: 5px">
                                            <el-button type="primary" size="mini">Update</el-button>
                                            <el-button type="plain" size="mini">Delete</el-button>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </el-tab-pane>
                    <el-tab-pane label="Documents" name="fourth">
                        <div class="products">
                            <div style="display: flex;">
                                <div style="width: 20%;display: flex;margin-left: 85%;margin-bottom: 10px">
                                    <el-button type="success" size="mini" @click="clickAddCode()">Add</el-button>
                                </div>
                            </div>
                            <div class="show-products">
                                <ul class="list">
                                    <li class="list-item" v-for="document in documents">
                                        <div style="display: block;margin-left:5%;margin-top:2%;width: 60%">
                                            <h1 style="font-size: 1.5rem;display:table-cell;"><a
                                                    v-bind:href="document.url">{{document.name}}</a></h1>
                                        </div>
                                        <div style="flex: right;display: block;width:40%;margin-left:15%;margin-top: 6px;margin-bottom: 5px">
                                            <el-button type="primary" size="mini">Update</el-button>
                                            <el-button type="plain" size="mini">Delete</el-button>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </el-tab-pane>
                    <el-tab-pane label="Others" name="fifth">
                        <div class="products">
                            <div style="display: flex;">
                                <div style="width: 20%;display: flex;margin-left: 85%;margin-bottom: 10px">
                                    <el-button type="success" size="mini" @click="clickAddCode()">Add</el-button>
                                </div>
                            </div>
                            <div class="show-products">
                                <ul class="list">
                                    <li class="list-item" v-for="other in others">
                                        <div style="display: block;margin-left:5%;margin-top:2%;width: 60%">
                                            <h1 style="font-size: 1.5rem;display:table-cell;"><a
                                                    v-bind:href="other.url">{{other.name}}</a></h1>
                                        </div>
                                        <div style="flex: right;display: block;width:40%;margin-left:15%;margin-top: 6px;margin-bottom: 5px">
                                            <el-button type="primary" size="mini">Update</el-button>
                                            <el-button type="plain" size="mini">Delete</el-button>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </el-tab-pane>
                </el-tabs>

                    <!--上传code文件-->
                    <el-dialog title="Uploads Files" :visible.sync="dialogCodeVisible">
                        <el-form :model="codeForm">
                            <el-form-item label="Description">
                                <el-input v-model="codeForm.description"></el-input>
                            </el-form-item>
                            <el-form-item label="Language">
                                <el-select v-model="codeForm.lang" placeholder="Please choose language">
                                    <el-option label="C++" value="cplusplus"></el-option>
                                    <el-option label="Java" value="java"></el-option>
                                    <el-option label="Python" value="python"></el-option>
                                    <el-option label="C" value="c"></el-option>
                                    <el-option label="Golang" value="golang"></el-option>
                                    <el-option label="Javascript" value="javascript"></el-option>
                                </el-select>
                            </el-form-item>
                            <input type="file" @change="getFile($event)">
                            <el-button @click="submitCodeForm($event)">Submit</el-button>
                        </el-form>
                    </el-dialog>
                </div>
            </el-main>
        </el-container>
    </el-container>
</div>

<!-- import Vue before Element -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
<!-- import JavaScript -->
<script src="https://cdn.bootcdn.net/ajax/libs/element-ui/2.14.0/index.js"></script>

<script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>

<script src="https://lib.baomitu.com/vuex/2.0.0/vuex.js"></script>

<script src="https://cdn.bootcss.com/qs/6.7.0/qs.min.js"></script>


<script>
    var qs = Qs;
    const store = new Vuex.Store({
        state: {
            token:'',  //初始化token
            username:''  //初始化username
        },
        mutations: {
            //存储token方法
            //设置token等于外部传递进来的值
            setToken(state, token) {
                state.token = token
                localStorage.token = token //同步存储token至localStorage
            },
            setUsername(state, username) {
                state.username = username
                localStorage.username = username //同步存储username至localStorage
            },
        },
        getters : {
            //获取token方法
            //判断是否有token,如果没有重新赋值，返回给state的token
            getToken(state) {
                if (!state.token) {
                    state.token = localStorage.getItem('token')
                }
                return state.token
            },
            getUsername(state) {
                if (!state.username) {
                    state.username = localStorage.getItem('username')
                }
                return state.username
            }
        },
        actions: {

        }
    });
    var product = new Vue({
        el: '#app',
        store: store,
        data() {
            return {
                //basic info
                username: '',
                is_login: false,
                img_src: "https://cube.elemecdn.com/0/88/03b0d39583f48206768a7534e55bcpng.png",
                productId: '',

                //product info
                product: {
                    name: 'ProductsName',
                    price: '5.40',
                    currentPrice: '3.2',
                    contributor: 'CHEN XU ZHU ZHAO',
                    tags: 'Python Java JavaScript',
                    status: 'final version',
                    saleVolume: '5000',
                    releaseDate: '2020/11/20',
                    recentUpdateDate: '2020/11/24',
                    description: 'This is about AI',
                    rating: 4.6,
                },

                //编辑信息
                editForm: {
                    name: 'ProductsName',
                    currentPrice: '3.2',
                    contributor: [],
                    tags: [],
                    status: 'final version',
                    description: 'This is about AI',
                },

                profileVisible: false,
                dialogTableVisible: false,
                dialogFormVisible: false,
                formLabelWidth: '120px',

                //上传文件
                //上传代码文件
                codeForm : {
                    productId: '',
                    description: '',
                    lang: '',
                    file: '',
                },

                fileList: [{
                    name: 'food.jpeg',
                    url: 'https://fuss10.elemecdn.com/3/63/4e7f3a15429bfda99bce42a18cdd1jpeg.jpeg?imageMogr2/thumbnail/360x360/format/webp/quality/100'
                }, {
                    name: 'food2.jpeg',
                    url: 'https://fuss10.elemecdn.com/3/63/4e7f3a15429bfda99bce42a18cdd1jpeg.jpeg?imageMogr2/thumbnail/360x360/format/webp/quality/100'
                }],


                //all file datas
                dialogCodeVisible: false,

                artifacts : [
                    {
                        name: 'artifact1.jar',
                        url: '',
                    },
                    {
                        name: 'artifact2.jar',
                        url: '',
                    },
                    {
                        name: 'artifact3.jar',
                        url: '',
                    },
                    {
                        name: 'artifact4.jar',
                        url: '',
                    },
                ],

                codes: [
                    {
                        name: 'code1.java',
                        url: '',
                    },
                    {
                        name: 'code2.java',
                        url: '',
                    },
                    {
                        name: 'code3.java',
                        url: '',
                    },
                    {
                        name: 'code4.java',
                        url: '',
                    },
                ],
                tests: [
                    {
                        name: 'testcase1',
                        url: '',
                    },
                    {
                        name: 'testcase2',
                        url: '',
                    },
                    {
                        name: 'testcase3',
                        url: '',
                    },
                    {
                        name: 'testcase4',
                        url: '',
                    },
                ],
                documents: [
                    {
                        name: 'doc1.txt',
                        url: '',
                    },
                    {
                        name: 'doc2.txt',
                        url: '',
                    },
                    {
                        name: 'doc3.txt',
                        url: '',
                    },
                    {
                        name: 'doc4.txt',
                        url: '',
                    },
                ],
                others: [
                    {
                        name: 'product1.jar',
                        url: '',
                    },
                    {
                        name: 'product2.jar',
                        url: '',
                    },
                    {
                        name: 'product3.jar',
                        url: '',
                    },
                    {
                        name: 'product4.jar',
                        url: '',
                    },
                ],
                activeName: 'first',


                activeNames: ['1'],

                search: '',
                ruleForm: {
                    username: '',
                    password: '',
                },
                rules: {
                    username: [
                        {required: true, message: 'please input username', trigger: 'blur'}
                    ],
                    password: [
                        {required: true, message: 'please input password', trigger: 'blur'}
                    ],
                }
            }
        },
        methods: {
            // 上传文件
            getFile(event) {
                this.codeForm.file = event.target.files[0];
                console.log(this.codeForm.file);
            },

            submitCodeForm(event) {
                event.preventDefault();
                let formData = new FormData();
                formData.append('username', this.username);
                formData.append('productId', this.productId);
                formData.append('description', this.codeForm.description);
                formData.append('lang', this.codeForm.lang);
                formData.append('file', this.codeForm.file);

                let config = {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                }

                this.$http.post('/upload', formData, config).then(function (res) {
                    if (res.status === 2000) {

                    }
                })
            },
            handleClick(tab, event) {
                console.log(tab, event);
            },
            //上传source code
            clickAdd: function () {
                this.dialogCodeVisible = true;
            },

            //通过onchanne触发方法获得文件列表
            handleChange(file, fileList) {
                this.fileList = fileList;
                console.log(fileList)
            },
            handleCommand(command) {
                if (command=="userpage"){
                    window.location.href="./"+ store.getters.getUsername + "/userpage";
                }else if (command=="contributor"){
                    window.location.href="./contributor.html";
                }else {
                    this.is_login = false;
                    localStorage.clear();
                    window.location.href="./homepage.html";
                }
            },

            upload(){
                let fd = new FormData();
                this.fileList.forEach(item=>{
                    //文件信息中raw才是真的文件
                    fd.append("files",item.raw);
                    //console.log(item.raw)
                })
                axios.post('/uploadUi',fd).then(res=>{
                    if (res.data.code === 200) {
                        //console.log(res);
                        this.$message('上传成功')
                    }else{
                        this.$message('失败')
                    }
                })
            },


            //edit info
            submit: function () {
                this.profileVisible = false;

                //将用户修改后的表单信息更新到个人信息
                this.product.name = this.editForm.name;
                this.product.description = this.editForm.description;

                this.product.tags = "";
                for (let i = 0; i < this.editForm.tags.length; i++){
                    this.product.tags += this.editForm.tags[i] + " ";
                };
                this.product.status = this.editForm.status;
                this.product.contributor = "";
                for (let i = 0; i < this.editForm.contributor.length; i++){
                    this.product.contributor += this.editForm.contributor[i] + " ";
                }

                //发送修改后的信息
                let fd = new FormData();
                fd.append("productName", this.editForm.name);
                fd.append("outline", this.editForm.description);
                fd.append("owners", this.editForm.contributor);
                fd.append("tags", this.editForm.tags);
                fd.append("status", this.editForm.status);

                axios.post('/productDetail', fd).then(res => {
                    if (res.data.code === 200) {
                        //console.log(res);
                        this.$message('上传成功');
                        //重新获取信息
                        axios({
                            method: 'get',
                            url: '/EditProduct/' + this.productId,
                        }).then(res => {  //res是返回结果
                            if (res.data['code'] == 10200) {
                                var data = res.data['data'];
                                this.product.name = data.productName;
                                this.product.price = data.fixPrice;
                                this.product.currentPrice = data.currentPrice;
                                this.product.contributor = toString(data.owners);
                                this.product.tags = toString(data.tags);
                                this.product.status = data.status;
                                this.product.saleVolume = data.salesVolume;
                                this.product.releaseDate = data.create_time;
                                this.product.recentUpdateDate = data.update_time;
                                this.product.description = data.outline;
                                this.product.rating = data.reviewStar;
                            }
                        });
                    } else {
                        this.$message('失败')
                    }
                })

            },

            cancel: function () {
                this.profileVisible = false;
            },

            editInfo: function () {
                this.profileVisible = true;
                // 将原始个人信息显示在表单上
                this.edit.name = this.product.name;
                this.edit.description = this.product.description;
                this.edit.tags = this.product.tags;
                this.edit.status = this.product.status;
                this.edit.contributor = this.product.contributor;
            },
        },
        mounted() {
            this.img_src = window.localStorage.getItem('img_src');
            this.img_src = "https://cube.elemecdn.com/0/88/03b0d39583f48206768a7534e55bcpng.png";

            //获取productid
            var htmlHref = window.location.href;
            htmlHref = htmlHref.replace(/^http:\/\/[^/]+/, "");
            var addr = htmlHref.substr(htmlHref.lastIndexOf('/', htmlHref.lastIndexOf('/') - 1) + 1);
            var index = addr.lastIndexOf("\/");
            this.productId = decodeURI(addr.substring(index + 1, addr.length));

            //获取product基本信息
            axios({
                method: 'get',
                url: '/EditProduct/' + this.productId,
            }).then(res => {  //res是返回结果
                if (res.data['code'] == 10200) {
                    var data = res.data['data'];
                    this.product.name = data.productName;
                    this.product.price = data.fixPrice;
                    this.product.currentPrice = data.currentPrice;
                    this.product.contributor = toString(data.owners);
                    this.product.tags = toString(data.tags);
                    this.product.status = data.status;
                    this.product.saleVolume = data.salesVolume;
                    this.product.releaseDate = data.create_time;
                    this.product.recentUpdateDate = data.update_time;
                    this.product.description = data.outline;
                    this.product.rating = data.reviewStar;
                }
            });

            //获取artifacts
            axios({
                method: 'get',
                url: '/EditProduct/' + this.productId + '/artifacts',
            }).then(res => {  //res是返回结果
                if (res.data['code'] == 10200) {
                    var data = res.data['data'];
                    for (let i = 0; i < data.length; i++) {
                        let artifact = {
                            name: data[i].name,
                            url: data[i].url,
                        }
                        this.artifacts.push(artifact);
                    }
                }
            })
            //获取codes
            axios({
                method: 'get',
                url: '/EditProduct/' + this.productId + '/codes',
            }).then(res => {  //res是返回结果
                if (res.data['code'] == 10200) {
                    var data = res.data['data'];
                    for (let i = 0; i < data.length; i++) {
                        let code = {
                            name: data[i].name,
                            url: data[i].url,
                        }
                        this.codes.push(code);
                    }
                }
            })
            //获取documents
            axios({
                method: 'get',
                url: '/EditProduct/' + this.productId + '/docs',
            }).then(res => {  //res是返回结果
                if (res.data['code'] == 10200) {
                    var data = res.data['data'];
                    for (let i = 0; i < data.length; i++) {
                        let doc = {
                            name: data[i].name,
                            url: data[i].url,
                        }
                        this.documents.push(doc);
                    }
                }
            })
            //获取testcases
            axios({
                method: 'get',
                url: '/EditProduct/' + this.productId + '/testcases',
            }).then(res => {  //res是返回结果
                if (res.data['code'] == 10200) {
                    var data = res.data['data'];
                    for (let i = 0; i < data.length; i++) {
                        let testcase = {
                            name: data[i].name,
                            url: data[i].url,
                        }
                        this.tests.push(testcase);
                    }
                }
            })
        },
    });

</script>
</body>

</html>
