<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<!-- import CSS -->
	<link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/element-ui/2.14.0/theme-chalk/index.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<style>
		div {
			display: relative;
		}

		.el-header {
			display: relative;
			background-color: #150E4A;
			background-size: 100% 100%;
			color: #333;
			text-align: center;
			line-height: 60px;
		}
		.el-main {
			background-color: #ffffff;
			color: #333;
			text-align: left;
			line-height: 30px;
			height:820px;
		}

		.fullscreen {
			background-color: #FFFFFF;
			width: 1520px;
			height: 940px;
			margin: 0 auto;
			padding: 0;
		}

		.list .list-item {
			height: 140px;
			line-height: 20px;
			background: #e8f3fe;
			margin: 10px;
			color: #000000;
		}

		body > .el-container {
			margin-bottom: 40px;
		}
	</style>
</head>

<body>
<div id="app" class="fullscreen">
	<el-container>
		<el-header>
			<div align="left" style="width:100%;">
				<div align="left" style="width:55%; display:inline-block;">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<a href="homepage.html">
						<img border="0" src="./images/logo.png" style="height:45px; width:75px"/>
						<p class=navigation_fontsize style="color:#FFFFFF; width:15%; display:inline-block;">SEMojo</p>
					</a>
					<el-link
							href="product.html"
							target="_blank"
							style="color:#FFFFFF; text-decoration:none; width:10%"
							class=navigation_fontsize
					>Products
					</el-link>
					<el-link
							href="support.html"
							target="_blank"
							style="color:#FFFFFF; text-decoration:none; width:10%"
							class=navigation_fontsize
					>Support
					</el-link>
					<el-link
							href="forum.html"
							target="_blank"
							style="color:#FFFFFF; text-decoration:none; width:10%"
							class=navigation_fontsize
					>Forum
					</el-link>
				</div>

				<div align="right" style="width:40%; display:inline-block;" v-show="!is_login">
					<el-input
							placeholder="Search SEMojo"
							v-model="search"
							style="width: 40%">
						<el-button slot="append" icon="el-icon-search" @click="searchfor('search')"></el-button>
					</el-input>
					<el-link
							href="login.html"
							target="_blank"
							style="color:#FFFFFF; width:15%;text-decoration:none"
							class=navigation_fontsize
					>Sign in
					</el-link>
					<el-link
							href="signup.html"
							:underline="false">
						<el-button type="primary">Sign up</el-button>
					</el-link>
				</div>
				<div style="width: 20%; display: inline-block" v-show="is_login">&nbsp;</div>
				<div align="right" style="width:20%; display:inline-flex;" v-show="is_login">
					<el-input
							placeholder="Search SEMojo"
							v-model="search"
							style="width: 80%">
						<el-button slot="append" icon="el-icon-search" @click="searchfor('search')"></el-button>
					</el-input>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

					<el-dropdown @command="handleCommand">
							<span class="el-dropdown-link">
								<el-avatar :src="img_src"></el-avatar>
							</span>
						<el-dropdown-menu slot="dropdown" style="margin-top: -10px">
							<el-dropdown-item command="userpage">Your profile</el-dropdown-item>
							<el-dropdown-item command="contributor">Your products</el-dropdown-item>
							<el-dropdown-item command="logout">sign out</el-dropdown-item>
						</el-dropdown-menu>
					</el-dropdown>
				</div>
			</div>

		</el-header>

		<el-main style="height: 1600px" >
			<div align="center">
				<div style="margin-left:200px;" align="left">
					<h1>ALL PRODUCTS</h1>
					<el-radio-group v-model="language" style="margin-top: 15px" size="medium" @change="handleLanguageChange">
						<el-radio-button label="All Languages"></el-radio-button>
						<el-radio-button label="Java"></el-radio-button>
						<el-radio-button label="C++"></el-radio-button>
						<el-radio-button label="python"></el-radio-button>
						<el-radio-button label="GO"></el-radio-button>
						<el-radio-button label="HTML"></el-radio-button>
						<el-radio-button label="JavaScript"></el-radio-button>
					</el-radio-group>
					<br>
					<el-radio-group v-model="type" style="margin-top: 15px" size="medium" @change="handleTypeChange">
						<el-radio-button label="All Types"></el-radio-button>
						<el-radio-button label="Text editing"></el-radio-button>
						<el-radio-button label="Algoritm"></el-radio-button>
						<el-radio-button label="AI"></el-radio-button>
						<el-radio-button label="ARM"></el-radio-button>
					</el-radio-group>
				</div>
				<template>
					<br>
					<div class="infinite-list-wrapper" style="overflow:auto;width:80%;" align="center">
						<ul	class="list"
							   style="list-style:none;">
							<li v-for="item in show_list" class="list-item">
								<div align="left" style="margin-left: 25px; display: flex">
									<div style="width: 80%">
										<i class="el-icon-notebook-2"></i>
										<el-link
												target="_blank"
												style="color:#000000;text-decoration:none;"
												class=navigation_fontsize
												@click="linkDetail(item.DBid)">
											{{item.name}}
										</el-link>
										<el-progress style="width: 40%" :percentage="item.satisfaction">satisfaction</el-progress>
										<div> Price: {{item.price}}</div>
										<div> Contributors: {{item.contributors}}</div>
										<div> Language: {{item.language}}</div>
										<div> Tags:{{item.tags}} </div>
										<div> Destribution: {{item.destribution}}</div>
									</div>
									<div style="width: 15%;" align="right">
										<el-button type="primary" style="margin-top: 30%" @click="purchase(item.DBid)">purchase</el-button>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</template>
				<br>
				<div style="margin-left:50px;">
					<el-pagination
							:background="true"
							:page-size="8"
							:pager-count="5"
							layout="prev, pager, next"
							:total="total"
							@current-change="handleCurrentChange">
					</el-pagination>
				</div>
			</div>
		</el-main>
	</el-container>
</div>
<!-- import Vue before Element -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
<!-- import JavaScript -->
<script src="https://cdn.bootcdn.net/ajax/libs/element-ui/2.14.0/index.js"></script>

<script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>

<script src="https://lib.baomitu.com/vuex/2.0.0/vuex.js"></script>

<script src="https://cdn.bootcss.com/qs/6.7.0/qs.min.js"></script>

<script>
	var qs = Qs;
	const store = new Vuex.Store({
		state: {
			token:'',  //初始化token
			username:''  //初始化username
		},
		mutations: {
			//存储token方法
			//设置token等于外部传递进来的值
			setToken(state, token) {
				state.token = token
				localStorage.token = token //同步存储token至localStorage
			},
			setUsername(state, username) {
				state.username = username
				localStorage.username = username //同步存储username至localStorage
			},
		},
		getters : {
			//获取token方法
			//判断是否有token,如果没有重新赋值，返回给state的token
			getToken(state) {
				if (!state.token) {
					state.token = localStorage.getItem('token')
				}
				return state.token
			},
			getUsername(state) {
				if (!state.username) {
					state.username = localStorage.getItem('username')
				}
				return state.username
			}
		},
		actions: {

		}
	});
	var sleep = function(time) {
		var startTime = new Date().getTime() + parseInt(time, 10);
		while(new Date().getTime() < startTime) {}
	};
	var Main = new Vue({
		el: '#app',
		data () {
			return {
				search: '',
				is_login: false,
				img_src: "https://cube.elemecdn.com/0/88/03b0d39583f48206768a7534e55bcpng.png",
				language: 'All Languages',
				type: 'All Types',
				loading: false,
				id: 1,
				total: 0,
				current_page: 1,
				show_list:[],
				conditional_list:[],
				list: [],

			};
		},
		methods: {
			searchfor(search) {
				if (store.getters.getToken){
					axios({
						method: 'post',
						url: '/search',
						data: {
							'search': search,
						},
						headers:{
							"Authorization": 'Bearer '+store.getters.getToken,
						}
					})
				} else {
					this.$message({
						message:'Please login first',
						type:'warning'
					});
					sleep(1500);
					window.location.href="./login.html";
				}
			},
			handleCurrentChange(val) {
				this.current_page = val;
				this.show_list = [];
				for (let i=(this.current_page-1)*8; i<this.current_page*8 && i<this.total; i++){
					this.show_list.push(this.conditional_list[i]);
				}
				window.scrollTo(0, 0);
			},
			handleLanguageChange(val) {
				this.language = val;
				this.conditional_list = [];
				for (let i = 0, length = this.list.length; i < length; i++) {
					if(this.list[i].language==this.language && (this.list[i].type==this.type || this.type=='All Types')){
						this.conditional_list.push(this.list[i]);
					}
				}
				this.total = this.conditional_list.length;
				this.current_page = 1;
			},
			handleTypeChange(val) {
				this.type = val;
				this.conditional_list = [];
				for (let i = 0, length = this.list.length; i < length; i++) {
					if(this.list[i].type==this.type && (this.list[i].language==this.language || this.language=='All Languages')){
						this.conditional_list.push(this.list[i]);
					}
				}
				this.total = this.conditional_list.length;
				this.current_page = 1;
			},
			handleCommand(command) {
				if (command=="userpage"){
					window.location.href="./"+ store.getters.getUsername + "/userpage";
				}else if (command=="contributor"){
					window.location.href="./contributor.html";
				}else {
					this.is_login = false;
					localStorage.clear();
					window.location.href="./homepage.html";
				}
			},
			linkDetail(DBid) {
				window.location.href="/ProductDetail/"+DBid;
			},
			purchase(DBid){
				window.location.href="/Purchase/"+DBid;
			}
		},
		mounted() {
			if (store.getters.getUsername != null) {
				axios({
					method: 'get',
					url: '/customer/' + store.getters.getUsername + '/portrait',
					headers: {
						"authorization": 'Bearer ' + store.getters.getToken,
					}
				}).then(res => {  //res是返回结果
					console.log(res);
					if (res.data['code'] == "200") {
						this.is_login = true;
						this.img_src = res.data['data'];
					} else {
						this.$message({
							message: 'connect wrong',
							type: 'warning'
						})
					}
				});
			}
			axios({
				method: 'get',
				url: '/products',
				params: {
					limit: -1,
					start: -1,
					tag: "-1",
					lang: "-1",
				},
			}).then(res => {  //res是返回结果
				if (res.data['code']==10200){
					let datalist = [];
					datalist = res.data['data'];
					console.log(datalist);
					for (let i = 0, length = datalist.length; i < length; i++) {
						let product = {
							id : i+1,
							name: datalist[i].productName,
							satisfaction: datalist[i].revierStar,
							price: datalist[i].currentPrice,
							contributors: datalist[i].creator,
							language: datalist[i].language,
							tags: datalist[i].tags,
							destribution: datalist[i].outline,
							DBid: datalist[i].productId,
						}
						console.log(product.name);
						this.list.push(product);
						this.conditional_list.push(product);
					}
					this.total = this.conditional_list.length;
					for (let i=0; i<8 && i<this.total; i++){
						this.show_list.push(this.conditional_list[i]);
					}
				}
			})
		}
	})
</script>
</body>

</html>
