<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/element-ui/2.14.0/theme-chalk/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="ProductDetail.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<div id="app" class="fullscreen">
    <el-container>
        <el-header>
            <div align="left" style="width:100%;">
                <div align="left" style="width:55%; display:inline-block;">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="homepage.html">
                        <img border="0" src="./images/logo.png" style="height:45px; width:75px"/>
                        <p class=navigation_fontsize style="color:#FFFFFF; width:15%; display:inline-block;">SEMojo</p>
                    </a>
                    <el-link
                            href="product.html"
                            target="_blank"
                            style="color:#FFFFFF; text-decoration:none; width:10%"
                            class=navigation_fontsize
                    >Products
                    </el-link>
                    <el-link
                            href="support.html"
                            target="_blank"
                            style="color:#FFFFFF; text-decoration:none; width:10%"
                            class=navigation_fontsize
                    >Support
                    </el-link>
                    <el-link
                            href="forum.html"
                            target="_blank"
                            style="color:#FFFFFF; text-decoration:none; width:10%"
                            class=navigation_fontsize
                    >Forum
                    </el-link>
                </div>

                <div align="right" style="width:40%; display:inline-block">
                    <el-input
                            placeholder="Search SEMojo"
                            v-model="search"
                            class="input-with-select"
                            style="width: 40%">
                        <el-button slot="append" icon="el-icon-search"></el-button>
                    </el-input>
                    <el-link
                            href="login.html"
                            target="_blank"
                            style="color:#FFFFFF; width:15%;text-decoration:none"
                            class=navigation_fontsize
                    >Sign in
                    </el-link>
                    <el-link
                            href="signup.html"
                            :underline="false">
                        <el-button type="primary">Sign up</el-button>
                    </el-link>
                </div>
            </div>

        </el-header>

        <el-container>
            <el-aside width="50%">
                <div class="part">
                    <div class="title">
                        <div class="productName" v-bind:class="product.name">
                            <h1>{{product.name}}</h1>
                        </div>
                        <div style="display: block;width:40%;margin-left:5%;margin-top: 5%;margin-bottom: 5%">
                            <el-button type="primary" size="mini">Purchase</el-button>
                            <el-button type="plain" size='mini'>Add to Shopping Cart</el-button>
                        </div>
                    </div>

                    <div class="information">
                        <el-avatar shape="square" :size="200" :src="avatarUrl"></el-avatar>

                        <div class="info" style="display: block;width:50%;margin-left:2%;margin-top:2%;line-height:10px;font-size: 8px;">
                            <p><b>Current Price: </b>{{product.currentPrice}}</p>
                            <p><s><b>Price: </b>{{product.price}}</s></p>
                            <p><b>Rating: </b>{{product.rating}}</p>
                            <p><b>Contributor: </b>{{product.contributor}}</p>
                            <p><b>Tags: </b>{{product.tags}}</p>
                            <p><b>Status: </b>{{product.status}}</p>
                            <p><b>Sale Volumn: </b>{{product.saleVolume}}</p>
                            <p><b>Release Data: </b>{{product.releaseDate}}</p>
                            <p><b>Recent Update Date: </b>{{product.recentUpdateDate}}</p>
                            <p><b>Description: </b>{{product.description}}</p>
                        </div>
                    </div>
                </div>

                <div class="viewPart">
                    <div class="title">
                        <div class="functionName">
                            <h1>Detailed Function</h1>
                        </div>
                    </div>

                    <div class="information">

                    </div>
                </div>

            </el-aside>

            <el-main>
                <div class="rightPart">
                    <div class="comments">
                        <div class="comment">
                            <h1>Comments</h1>
                        </div>
                    </div>

                    <div class="commentView" style="min-height:200px;overflow-y:auto;max-height:220px;width:80%">
                        <el-collapse v-model="activeNames" @change="handleChange">
                            <el-collapse-item v-for="comment in comments">
                                <template slot="title">
                                    {{comment.username}}<span>&nbsp&nbsp&nbsp</span><el-rate
                                        v-model="comment.rating"
                                        disabled
                                        show-score
                                        text-color="#ff9900"
                                        score-template={value}>
                                </el-rate>

                                </template>
                                <div><p>{{comment.content}}</p></div>
                            </el-collapse-item>
                        </el-collapse>
                    </div>
                </div>

                <div class="viewPart">
                    <div class="title">
                        <div class="codePreview">
                            <h1>Code Preview</h1>
                        </div>
                    </div>

                    <div class="information">

                    </div>
                </div>

            </el-main>
        </el-container>
    </el-container>
</div>

<!-- import Vue before Element -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
<!-- import JavaScript -->
<script src="https://cdn.bootcdn.net/ajax/libs/element-ui/2.14.0/index.js"></script>

<script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>

<script src="https://lib.baomitu.com/vuex/2.0.0/vuex.js"></script>

<script src="https://cdn.bootcss.com/qs/6.7.0/qs.min.js"></script>


<script>
    var qs = Qs;
    const store = new Vuex.Store({
        state: {
            token:'',  //初始化token
            username:''  //初始化username
        },
        mutations: {
            //存储token方法
            //设置token等于外部传递进来的值
            setToken(state, token) {
                state.token = token
                localStorage.token = token //同步存储token至localStorage
            },
            setUsername(state, username) {
                state.username = username
                localStorage.username = username //同步存储username至localStorage
            },
        },
        getters : {
            //获取token方法
            //判断是否有token,如果没有重新赋值，返回给state的token
            getToken(state) {
                if (!state.token) {
                    state.token = localStorage.getItem('token')
                }
                return state.token
            },
            getUsername(state) {
                if (!state.username) {
                    state.username = localStorage.getItem('username')
                }
                return state.username
            }
        },
        actions: {

        }
    });
    var product = new Vue({
        el: '#app',
        store: store,
        data() {
            return {

                //avatar
                avatarUrl: './images/bg3.jpg',
                //comments
                comments: [
                    {
                        username: 'user0',
                        content:'This is a good product.',
                        rating:4.0,
                    },
                    {
                        username: 'user1',
                        content: 'bad',
                        rating: 3.8,
                    },
                    {
                        username: 'user2',
                        content: 'bad',
                        rating: 2.0,
                    },
                ],
                //product
                activeNames: ['1'],
                product: {
                    name: 'Products1',
                    currentPrice: '$3.2',
                    price: '$5.40',
                    contributor: 'CHEN XU ZHU ZHAO',
                    tags: 'Python Java JavaScript',
                    status: 'final version',
                    saleVolume: '5000',
                    releaseDate: '2020/11/20',
                    recentUpdateDate: '2020/11/24',
                    description: 'This is about AI sdad daaewsd dasdq dasdas sada',
                    rating: 4.6,
                },

                search: '',
                ruleForm: {
                    username: '',
                    password: '',
                },
                rules: {
                    username: [
                        {required: true, message: 'please input username', trigger: 'blur'}
                    ],
                    password: [
                        {required: true, message: 'please input password', trigger: 'blur'}
                    ],
                }
            }
        },
        methods: {
            handleChange(val) {
                console.log(val);
            },
            submitForm(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        axios({
                            method: 'post',
                            url: '/login_2.0',
                            data: qs.stringify({
                                'username': this.ruleForm.username,
                                'password': this.ruleForm.password,
                            }),
                            headers: {
                                'Content-type': 'application/x-www-form-urlencoded;charset=utf-8',
                                "token": " "
                            }
                        }).then(res => {  //res是返回结果
                            if (res.data['code'] === 200) {
                                this.$store.commit('setToken', JSON.stringify(res.data.token));
                                this.$message({
                                    message: '登录成功' + store.getters.getToken,
                                    type: 'success'
                                })
                            } else {
                                this.$message({
                                    message: '用户名或者密码错误',
                                    type: 'warning'
                                })
                            }
                        }).catch(err => { //请求失败就会捕获报错信息
                            console.log('服务器连接失败');
                            console.log(err);
                            this.$message({
                                message: '服务器连接失败',
                                type: 'warning'
                            })
                        })
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
            },
        }
    });

</script>
</body>

</html>
