<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<!-- import CSS -->
	<link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/element-ui/2.14.0/theme-chalk/index.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<style>
		div {		
			display: relative;
		}

		.el-header, .el-footer {
			display: relative;
			background-color: #150E4A;
			background-size: 100% 100%;
			color: #333;
			text-align: center;
			line-height: 60px;
		}

		.el-aside {
			display: relative;
			color: #333;
			text-align: left;
			line-height: 40px;
			height:620px;
		}

		.el-main {
			color: #333;
			text-align: center;
			line-height: 30px;
			height:620px;
		}

		.fullscreen {
			background-color: #FFFFFF;
	        width: 1520px;
	        height: 740px;
	        margin: 0 auto;
	        padding: 0;
		}

		.list .list-item {
		    height: 125px;
			line-height: 20px;
		    background: #e8f3fe;
		    margin: 10px;
		    color: #000000;
		}

		body > .el-container {
			margin-bottom: 40px;
		}


	</style>
	</head>

<body>
	<div id="app" class="fullscreen">
		<el-container>
			<el-header>
				<div align="left" style="width:100%;">
					<div align="left" style="width:55%; display:inline-block;">
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<a href="homepage.html">
						<img border="0" src="./images/logo.png" style="height:45px; width:75px"/>
						<p class=navigation_fontsize style="color:#FFFFFF; width:15%; display:inline-block;">SEMojo</p>
						</a>
						<el-link 
							href="product.html" 
							target="_blank" 
							style="color:#FFFFFF; text-decoration:none; width:10%"
							class=navigation_fontsize
							>Products
						</el-link>
						<el-link 
							href="support.html" 
							target="_blank" 
							style="color:#FFFFFF; text-decoration:none; width:10%"
							class=navigation_fontsize
							>Support
						</el-link>
						<el-link 
							href="forum.html" 
							target="_blank" 
							style="color:#FFFFFF; text-decoration:none; width:10%"
							class=navigation_fontsize
							>Forum
						</el-link>
					</div>

					<div style="width: 20%; display: inline-block">&nbsp;</div>
					<div align="right" style="width:20%; display:inline-flex;">
						<el-input
								placeholder="Search SEMojo"
								v-model="search"
								style="width: 80%">
							<el-button slot="append" icon="el-icon-search" @click="searchfor('search')"></el-button>
						</el-input>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

						<el-dropdown @command="handleCommand">
							<span class="el-dropdown-link">
								<el-avatar :src="img_src"></el-avatar>
							</span>
							<el-dropdown-menu slot="dropdown" style="margin-top: -10px">
								<el-dropdown-item command="userpage">Your profile</el-dropdown-item>
								<el-dropdown-item command="contributor">Your products</el-dropdown-item>
								<el-dropdown-item command="logout">sign out</el-dropdown-item>
							</el-dropdown-menu>
						</el-dropdown>
					</div>

				</div>
			</el-header>

			<el-container>
				<el-main>
					<div style="margin-left: 15%; width: 70%" align="center">
					<el-tabs tab-position=left style="height: 550px;">
						<el-tab-pane label="Artifacts" style="height: 550px">
							<div style="margin-top:25px; margin-left:50px;">
								<div style="display:flex">
									<div style="width:50%" align="left"><h4>{{total}} repository results</h4></div>

									<div style="width:46.5%" align="right">
										<template>
											<el-select v-model="value" placeholder="please choose" @change="handleSelectChange">
												<el-option
														v-for="item in options"
														:key="item.value"
														:label="item.label"
														:value="item.value">
												</el-option>
											</el-select>
										</template>
									</div>
								</div>
								<template>
									<div class="infinite-list-wrapper" style="overflow:auto;width:100%;height:450px;">
										<ul
												class="list"
												v-infinite-scroll="load"
												infinite-scroll-disabled="disabled"
												style="list-style:none;">
											<li v-for="item in show_list" class="list-item">
												<div align="left">
													<i class="el-icon-notebook-2"></i>
													<el-link
															target="_blank"
															style="color:#000;text-decoration:none;"
															class=navigation_fontsize
															v-bind:href="item.href">
														{{item.name}}
													</el-link>
													<el-progress style="width: 40%" :percentage="item.star">star</el-progress>
													<div> Price: {{item.price}}</div>
													<div> Contributors: {{item.contributors}}</div>
													<div> Tags:{{item.tags}} </div>
													<div> description: {{item.description}}</div>
												</div>
											</li>
										</ul>
										<p v-if="loading">loading&nbsp;&nbsp;<i class="el-icon-loading"></i></p>
									</div>
								</template>
							</div>
						</el-tab-pane>
						<el-tab-pane label="Code">

						</el-tab-pane>
						<el-tab-pane label="Issues">

						</el-tab-pane>
						<el-tab-pane label="Discussions">

						</el-tab-pane>
					</el-tabs>
					</div>
				</el-main>
			</el-container>
		</el-container>
	</div>

	<!-- import Vue before Element -->
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
	<!-- import JavaScript -->
	<script src="https://cdn.bootcdn.net/ajax/libs/element-ui/2.14.0/index.js"></script>

	<script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>

	<script src="https://lib.baomitu.com/vuex/2.0.0/vuex.js"></script>

	<script>
		const store = new Vuex.Store({
			state: {
				token:'',  //初始化token
				username:''  //初始化username
			},
			mutations: {
				//存储token方法
				//设置token等于外部传递进来的值
				setToken(state, token) {
					state.token = token
					localStorage.token = token //同步存储token至localStorage
				},
				setUsername(state, username) {
					state.username = username
					localStorage.username = username //同步存储username至localStorage
				},
			},
			getters : {
				//获取token方法
				//判断是否有token,如果没有重新赋值，返回给state的token
				getToken(state) {
					if (!state.token) {
						state.token = localStorage.getItem('token')
					}
					return state.token
				},
				getUsername(state) {
					if (!state.username) {
						state.username = localStorage.getItem('username')
					}
					return state.username
				}
			},
			actions: {

			}
		});
		var Main = new Vue({
			el: '#app',
			data () {
				return {
					search: '',
					img_src: "https://cube.elemecdn.com/0/88/03b0d39583f48206768a7534e55bcpng.png",
					loading: false,
					id: 0,
					total: 0,
					value: 'score',

					show_list: [],
					list: [{id:1, name:"cqfwuwuwu", star:"80", price:"50", contributors:"cqf,zf", tags:"Java", description:"this is my final ripple, JOJO", DBid:5,update_time:2020/11/24,score:82},
						{id:2, name:"cqfwuwuwu", star:"85", price:"50", contributors:"cqf,zf", tags:"Java", description:"this is my final ripple, JOJO", DBid:5,update_time:2020/11/24,score:82},
						{id:3, name:"cqfwuwuwu", star:"75", price:"50", contributors:"cqf,zf", tags:"Java", description:"this is my final ripple, JOJO", DBid:5,update_time:2020/11/24,score:82},
						{id:4, name:"cqfwuwuwu", star:"56", price:"50", contributors:"cqf,zf", tags:"Java", description:"this is my final ripple, JOJO", DBid:5,update_time:2020/11/24,score:82},
						{id:5, name:"cqfwuwuwu", star:"95", price:"50", contributors:"cqf,zf", tags:"Java", description:"this is my final ripple, JOJO", DBid:5,update_time:2020/11/24,score:82},
						{id:6, name:"cqfwuwuwu", star:"100", price:"50", contributors:"cqf,zf", tags:"Java", description:"this is my final ripple, JOJO", DBid:5,update_time:2020/11/24,score:82},
						{id:7, name:"cqfwuwuwu", star:"50", price:"50", contributors:"cqf,zf", tags:"Java", description:"this is my final ripple, JOJO", DBid:5,update_time:2020/11/24,score:82},
						{id:8, name:"cqfwuwuwu", star:"40", price:"50", contributors:"cqf,zf", tags:"Java", description:"this is my final ripple, JOJO", DBid:5,update_time:2020/11/24,score:82},
						{id:9, name:"cqfwuwuwu", star:"81", price:"50", contributors:"cqf,zf", tags:"Java", description:"this is my final ripple, JOJO", DBid:5,update_time:2020/11/24,score:82},
						{id:10, name:"cqfwuwuwu", star:"40", price:"50", contributors:"cqf,zf", tags:"Java", description:"this is my final ripple, JOJO", DBid:5,update_time:2020/11/24,score:82},],

					options: [{
						value: 'score',
						label: 'Best match'
					}, {
						value: 'star',
						label: 'Most stars'
					}, {
						value: 'time',
						label: 'Recently updated'
					}],
				}
			},
			computed: {
				noMore () {
					return this.show_list.length >= this.total
				},
				disabled () {
					return this.loading || this.noMore
				}
			},
			methods: {
				load () {
					this.loading = true
					setTimeout(() => {
						for (var i=this.id, j=this.id+5; i<j && i<this.total; i++) {
							this.id ++;
							this.show_list.push(this.list[i]);
						}
						this.loading = false
					}, 1500)
				},
				searchfor(search) {
					axios({
						method: 'post',
						url: '/search',
						data: {
							'search': search,
						},
						headers:{
							"Authorization": 'Bearer '+store.getters.getToken,
						}
					})
				},
				handleSelectChange(val){

				},
				handleCommand(command) {
					if (command=="userpage"){
						window.location.href="./"+ store.getters.getUsername + "/userpage";
					}else if (command=="contributor"){
						window.location.href="./contributor.html";
					}else {
						localStorage.clear();
						window.location.href="./homepage.html";
					}
				}
			},
			mounted() {
				this.total = 10;
				this.img_src = window.localStorage.getItem("img_src");
				axios({
					method: 'get',
					url: '/products',
					params: {
						type: 'Artifacts',
						search: window.localStorage.getItem("search"),
					},
				}).then(res => {  //res是返回结果
					if (res.data['code']==20200){
						let datalist = [];
						datalist = res.data['data'];
						for (let i = 0, length = datalist.length; i < length; i++) {
							let product = {
								id : i+1,
								name: datalist[i].productName,
								star: datalist[i].revierStar,
								price: datalist[i].currentPrice,
								contributors: datalist[i].creator,
								language: datalist[i].language,
								tags: datalist[i].tags,
								description: datalist[i].outline,
								DBid: datalist[i].productId,
								update_time: datalist[i].update_time,
								score: datalist[i].score,
							};
							this.list.push(product);
						}
						this.total = this.list.length;
						for (let i=this.id; i<5 && i<this.total; i++){
							this.show_list.push(this.list[i]);
							this.id++;
						}
					}
				})
			},
		})
	</script>
</body>

</html>